@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
	flex: 2;  
	width: 100%; 
    height: 100vh;
}

.holder{
	display: flex; 
	flex-direction: row; 
	width: 75%; 
	margin-left: auto; 
	margin-right: auto; 
	
}

.second{
	flex: 1;
	width: 100%; 
}


.Coffee-Title h1{
    color: F89917;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    justify-content: center;
    margin: 15px;
}
.nav-title img{
    height:200px;
    position: relative;
}

.Coffee-Title:hoover{
	box-shadow: F89917;
    transform:scale(1.15);
}
body{
    /* background: rgb(82,131,162);
    background: linear-gradient(0deg, rgba(82,131,162,1) 0%, rgba(0,0,0,1) 70%);
    height:100vh; */
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(248,153,23,1) 0%, rgba(0,0,0,1) 59%);
}

.holder{
	background-color: black;
}
.nav{
    display: flex;
    width: 100%;
    background-color: black;
    color: black;
    display:flex;
    justify-content: space-between;
    padding:15px;
    list-style-type:none;
    text-decoration: none;
    position: fixed;
    z-index: 3;
    height: 95px;


}
.nav-title{
    display: flex;
    text-align: left;
    background-color: black;
    color: black;
    list-style-type:none;
	font-style: italic;
    text-decoration: none;



}
/* .nav-links{
    display:flex;
    justify-content: flex-end;
    margin:10px;
    padding:10px;
    background-color: black;
    color: white;
    list-style-type:none;
    text-decoration: none;
    font-style: italic;

} */
.btn{
    display:flex;
    justify-content: flex-end;
    margin:10px;
    padding:10px;
    background-color: F89917;
    color: black;
    list-style-type:none;
    text-decoration: none;
    font-family: 'Brush Script MT', cursive;
    width: fit-content;
}
/* .a{
    display:flex;
    justify-content: space-between;
    margin:10px;
    padding:10px;
    background-color: 5283A2;
    color: white;
    list-style-type:none;
    text-decoration: none;
	font-style: italic;
} */
.li{
    list-style-type:none;
    text-decoration: none;
}
.main-body{
    display: flex;
    height: 100vh;
}
.main-page{

    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 250px;
}

.side-bar{
    display: flex;
    width: 150px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 100px;
}
.side-bar img{
    margin: 20px;
    height: 150px;
}

.news{
    display: flex;
    height: 200px;
    background-color: black;
    margin:20px;
    padding:10px;
    width: 80%;
    border: 5px, black;
    margin-left: 20px;

}
.news img{
    height:100%;
    width: 100%;
    
}
.scores{
    margin-left: 20px;
    display: flex ;
    background-color: black;
    height: 200px;
    margin:20px;
    padding:10px;
    width: 80%;
    border: 5px, black;
}
.scores img{
    height:100%;
    width: 100%;
    
}


#tickerholder{
	height:28px; 
	width: 100%; 
    position: fixed;
    z-index: 4;
    top: 0px;
    background-color: F89917; 
    text-decoration: none; 
    color: black; 
	margin: 0px; 
}
#tickerholder a{
	text-decoration: none; 
	color: black; 
}

.showallbets{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.dot{
	margin-left: 25px; 
}

.card-hover:hover{
    box-shadow: F89917;
    transform:scale(1.15);
}


.btn:hover{
	box-shadow: F89917;
    transform:scale(1.15);
	
}




