@charset "UTF-8";

@import url('http://fonts.cdnfonts.com/css/bungee');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* background: rgb(82,131,162);
    background: linear-gradient(0deg, rgba(82,131,162,1) 0%, rgba(0,0,0,1) 70%);
    height:100vh; */
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(248,153,23,1) 0%, rgba(0,0,0,1) 59%);
    font-family: Bungee;
} 



nav{

    background: rgb(0,0,0);	
}

.login{
	
	 font-size: 50px;
    margin: 10px;
}

h1{
	font-size: 50px;
    margin: 10px;
}


.blahblah{
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.card-hover:hover{
	box-shadow: F89917;
    transform:scale(1.15);
}







